<div class="top_info">
  <a href="/about">About |</a>
  <a href="/ourmission">Our Mission |</a>
  <a href="/help">Help</a>
  <a class="small_logo" href="/">Spend</a>
</div>

<div class="container">
  <div class="front_page_logo">
    <img src="/images/spend_white.png" alt="logo">
  </div>
  <div class="enter_tracker_container">
    <a href="/transactions">Enter Tracker</a>
  </div>
</div>
