<div class="top_info">
  <a href="/about">About</a>
  <a href="/ourmission">Our Mission</a>
  <a href="/help">Help</a>
</div>

<div class="container">
  <img src="/images/spend.png" alt="logo">
  <div class="enter_tracker_container">
    <a href="/transactions">Enter Tracker</a>
  </div>
</div>
