<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Spend</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>
  <footer class="bottom_footer">
    <div class="bottom_info_container">
      <nav class="bottom_info_row">
        <div class="bottom_info_paragraph">
          <p>Contact Us:<br>77 Renfrew Street<br>Clockwise Offices<br>Glasgow, Scotland<br>G2 3BZ</p>
        </div>
        <div class="bottom_info_links">
          <ul class="bottom_info_links_list">
            <li><a href="/about">About</a></li>
            <li><a href="/ourmission">Our Mission</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/transactions">Transactions</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>

  <%= yield %>

</body>
</html>
