<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Spend</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="bottom_info">
    <p>Contact Us:<br>77 Renfrew Street<br>Clockwise Offices<br>Glasgow, Scotland<br>G2 3BZ</p>
    <a href="/about">About</a>
    <a href="/ourmission">Our Mission</a>
    <a href="/help">Help</a>
    <a href="/transactions">Transactions</a>
  </div>

  <%= yield %>

</body>
</html>
