<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Spend</title>
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>
  <nav>
    <a href="/about">About</a>
    <a href="/ourmission">Our Mission</a>
    <a href="/help">Help</a>
  </nav>

  <%= yield %>

</body>
</html>
