<div class="top_info">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/ourmission">Our Mission</a>
  <a href="/help">Help</a>
</div>

<div class="container">
  <h1>Our Mission</h1>
  <p>The goals...</p>
</div>
