body{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.top_info{
  background-color: green;
  width: 100%;
}

.top_info a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.small_logo{
  float: right;
}

.bottom_footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
}

.bottom_footer a{
  text-decoration: none;
  color: white;
}

.bottom_info_row{
  justify-content: center;
  align-items: center;
  display: flex;
}

.container{
  text-align: center;
}

.front_page_logo{
  text-align: center;
}

.enter_tracker_container{
  text-align: center;
  display: inline;
  background-color: green;
}

.enter_tracker_container a{
  text-decoration: none;
  color: white;
}

.table_container{
  display: inline-block;
}

ul li{
  overflow: hidden;
}

ul li a{
  text-decoration: none;
  font-size: 18px;
}

p {
  font-size: 18px;
}
