body{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.top_info{
  background-color: green;
}

.top_info a{
  color: white;
}

.bottom_footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
}

.bottom_footer a{
  color: white;
}

.bottom_info_row{
  display: flex;
}

.container{
  text-align: center;
}

.enter_tracker_container{
  text-align: center;
}

.table_container{
  display: inline-block;
}

ul li{
  overflow: hidden;
}

ul li a{
  font-size: 18px;
}

p {
  font-size: 18px;
}
