body{
  margin: 0px;
  padding: 0px;
  padding-bottom: 204px; /* Height of Footer */
  border: 0px;
  background-image: url('/images/green_background.png');
  fill: green;
}

.front_page_logo img{
  background-color: green;
  border-radius: 10px;
  padding: 0px;
  margin-top: 5px;
}

.top_info{
  font-family: Montserrat;
  background-color: green;
  font-size: 18px;
  width: 100%;
}

.top_info a{
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.small_logo{
  float: right;
  padding-right: 5px;
}

.bottom_footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: green;
  font-family: Montserrat;
  color: white;
}

.bottom_footer a{
  text-decoration: none;
  color: white;
}

.bottom_info_row{
  justify-content: center;
  align-items: center;
  display: flex;
}

.container{
  text-align: center;
}

.title_container{
  font-family: Montserrat;
  background-color: white;
}

.table_container{
  background-color: white;
}

.front_page_logo{
  text-align: center;
}

.enter_tracker_container{
  text-align: center;
  display: inline;
  background-color: green;
  border-radius: 5px;
  padding: 2px;
}

.enter_tracker_container a{
  font-family: Montserrat;
  text-decoration: none;
  color: white;
}

.table_container{
  display: inline-block;
}

.menu_links{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
}

.menu_links ul {
  margin: 0;
  padding: 0;
}

.menu_links div {
  background-color: white;
  margin: 0 20px;
}

.details_container{
  background-color: white;
}

.details_container p{
  font-family: Montserrat;
}



ul li{
  overflow: hidden;
}

ul li a{
  text-decoration: none;
  font-size: 18px;
}

p {
  font-size: 18px;
}
