<div class="top_info">
  <a href="/transactions">Transactions</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
</div>

<h1>Edit Tag: <%=@tag.name%></h1>

<form action="/tags/<%=@tag.id%>" method="POST">
  <label for="id">Tag ID: </label>
  <label name="id"><%=@tag.id%></label>

  <label for="name">Name</label>
  <input type="text" name="name" value="<%=@tag.name%>">

  <input type="submit" value="Save">
</form>
