<div class="top_info">
  <a href="/about">About |</a>
  <a href="/ourmission">Our Mission |</a>
  <a href="/help">Help</a>
  <a class="small_logo" href="/">Spend</a>
</div>

<div class="container">
  <div class="title_container">
    <h1>Help</h1>
  </div>

  <p>Using our services...</p>

</div>
