<div class="top_info">
  <a href="/about">About |</a>
  <a href="/ourmission">Our Mission |</a>
  <a href="/help">Help</a>
  <a class="small_logo" href="/">Spend</a>
</div>

<div class="container">
  <div class="title_container">
    <h1>Help</h1>
  </div>
  <hr>

  <div class="help_transactions_links">
    <ul>
      <li><a href="#1">1. Transactions</a></li>
      <li><a href="#1.1">1.1 Adding Transactions</a></li>
      <li><a href="#1.2">1.2 Viewing Particular Transactions</a></li>
      <li><a href="#1.3">1.3 Editing/Deleting Transactions</a></li>
      <li><a href="#1.4">1.4 Ordering Transactions by Date</a></li>
    </ul>
  </div>

  <div class="help_merchants_links">
    <ul>
      <li><a href="#2">2. Merchants</a></li>
      <li><a href="#2.1">2.1 Adding Merchants</a></li>
      <li><a href="#2.2">2.2 Viewing Particular Merchants</a></li>
      <li><a href="#2.3">2.3 Viewing a Merchant's Transactions</a></li>
      <li><a href="#2.4">2.4 Editing/Deleting Merchants</a></li>
    </ul>
  </div>

  <div class="help_tags_links">
    <ul>
      <li><a href="#3">3. Tags</a></li>
      <li><a href="#3.1">3.1 Adding Tags</a></li>
      <li><a href="#3.2">3.2 Viewing Particular Tags</a></li>
      <li><a href="#3.3">3.3 Viewing a Tag's Transactions</a></li>
      <li><a href="#3.4">3.4 Editing/Deleting Tags</a></li>
    </ul>
  </div>

  <div class="details_container">
    <h2><a name="1">1. Transactions</a></h2>
    <p>
      In order to view your transaction history, click 'Enter Tracker' on the homepage.
      <br>
      Alternatively, you may click 'Transactions' in the footer or in the header once passing the Home screen.
    </p>
    <h3><a name="1.1">1.1 Adding Transactions</a></h3>
    <p>
      Once viewing the Transactions page, click 'Add Transactions' in the top left, select your options and click 'Save'.
    </p>
    <h3><a name="1.2">1.2 Viewing Particular Transactions</a></h3>
    <p>
      In order to view a <em>particular transaction</em>, click on the 'Transaction ID' in the 'Transactions' page.
    </p>
    <h3><a name="1.3">1.3 Editing/Deleting Transactions</a></h3>
    <p>
      In order to edit/delete a transaction, click on 'Edit' or 'Delete' on the right-hand side of a particular transaction in the 'Transactions' page or a 'Transaction ID' page.
    </p>
    <h3><a name="1.4">1.4 Ordering Transactions by Date</a></h3>
    <p>
      To order your transactions by date, go to your 'Transactions' page to view all your transactions and select 'Ascending' or 'Descending' at the top of the table to order your transactions by date.
    </p>
    <hr>
    <h2><a name="2">2. Merchants</a></h2>
    <p>
      In order to view your merchants, click 'Merchants' in the top left after entering the transactions page.
    </p>
    <h3><a name="2.1">2.1 Adding Merchants</a></h3>
    <p>
      Once viewing the Merchants page, click 'Add Merchants' in the top left, type in your merchant and click 'Save'.
    </p>
    <h3><a name="2.2">2.2 Viewing Particular Merchants</a></h3>
    <p>
      In order to view a <em>particular merchant</em>, click on the 'Merchant ID' in the 'Merchants' page.
    </p>
    <h3><a name="2.3">2.3 Viewing a Merchant's Transactions</a></h3>
    <p>
      In order to view transactions related to a merchant, view a particular merchant and select 'View Transaction' on the left-hand side.
    </p>
    <h3><a name="2.4">2.4 Editing/Deleting Merchants</a></h3>
    <p>
      In order to edit/delete a merchant, click on 'Edit' or 'Delete' on the right-hand side of a particular merchant in the 'Merchants' page or a 'Merchant ID' page.
    </p>
    <hr>
    <h2><a name="3">3. Tags</a></h2>
    <p>
      In order to view your tags, click 'Tags' in the top left after entering the transactions page.
    </p>
    <h3><a name="3.1">3.1 Adding Tags</a></h3>
    <p>
      Once viewing the Tags page, click 'Add Tags' in the top left, type in your tag and click 'Save'.
    </p>
    <h3><a name="3.2">3.2 Viewing Particular Tags</a></h3>
    <p>
      In order to view a <em>particular tag</em>, click on the 'Tag ID' in the 'Tags' page.
    </p>
    <h3><a name="3.3">3.3 Viewing a Tag's Transactions</a></h3>
    <p>
      In order to view transactions related to a tag, view a particular tag and select 'View Transaction' on the left-hand side.
    </p>
    <h3><a name="3.4">3.4 Editing/Deleting Tags</a></h3>
    <p>
      In order to edit/delete a tag, click on 'Edit' or 'Delete' on the right-hand side of a particular tag in the 'Tags' page or a 'Tag ID' page.
    </p>

  </div>
</div>
