<div class="top_info">
  <a href="/about">About</a>
  <a href="/ourmission">Our Mission</a>
  <a href="/help">Help</a>
  <a class="small_logo" href="/">Spend</a>
</div>

<div class="container">
  <h1>About</h1>
  <p>Our company...</p>
</div>
