<p>
  <a href="/transactions/new">Add Transaction</a>
  <a href="/merchants/edit">Edit Merchants</a>
  <a href="/tags/edit">Edit Tags</a>
</p>

<h1>Add Transaction</h1>

<form action="/transactions" method="post">
  <label for="timing">Date (YYYY/MM/DD)</label>
  <input type="text" name="timing">

  <label for="transaction.merchant.name">Merchant</label>
  <input type="text" name="transaction.merchant.name">

  <label for="transaction.tag.name">Tag</label>
  <input type="text" name="transaction.tag.name">

  <label for="amount">Amount</label>
  <input type="number" name="amount">

  <input type="submit" value="Save">

</form>
